registry=https://registry.npmjs.org/
@autonix:registry=https://artifact-keeper.qtsolvdev.com/npm/qa-automation-libraries/
//artifact-keeper.qtsolvdev.com/npm/qa-automation-libraries/:_authToken=83304daf_0cd8854120e24b0f92b911b05dd9e793
